mixin credits(credits, classname)
  ul.credits(class!=classname)
    each credit in credits
      - if(credit.number)
        li.credit.BaycrewsAPI(data-id=credit.number)
          a.credit__a
            - let price = credit.price - 0
            span.credit__group
              span.credit__name!=credit.name+'&nbsp;/&nbsp;'
              span.credit__brand!=credit.brand+'&nbsp;/&nbsp;'
              span.credit__number!=credit.number+'&nbsp;/&nbsp;'
            span.credit__group
              - if(price)
                span.credit__price
                  +price_comma(price)
                  |+TAX
              span.credit__buy BUY

          - if(credit.notice)
            span.credit__notice!=credit.notice

      - else
        li.credit.disable(class=(credit.note ? 'credit--note' : ''))
          a.credit__a
            - let price = credit.price - 0
            span.credit__name!=credit.name+'&nbsp;/&nbsp;'
            span.credit__brand!=credit.brand+'&nbsp;/&nbsp;'
            - if(price)
              span.credit__price
                |¥
                +price_comma(price)

          - if(credit.notice)
            span.credit__notice!=credit.notice
