//- キャッシュクリアのための時刻取得
-
  var now = new Date()
  now.getFullMonth = function() {
    return (this.getMonth() < 9 ? '0'+(this.getMonth()+1) : this.getMonth()+1)
  }
  now.getFullDate = function() {
    return (this.getDate() < 10 ? '0'+this.getDate() : this.getDate())
  }
  now.getFullHours = function() {
    return (this.getHours() < 10 ? '0'+this.getHours() : this.getHours())
  }
  now.getFullMinutes = function() {
    return (this.getMinutes() < 10 ? '0'+this.getMinutes() : this.getMinutes())
  }
  now.getFullSeconds = function() {
    return (this.getSeconds() < 10 ? '0'+this.getSeconds() : this.getSeconds())
  }
  now.getFullTimes = function() {
    return parseInt(
        now.getFullYear()
        + now.getFullMonth()
        + now.getFullDate()
        + now.getFullHours()
        + now.getFullMinutes()
        + now.getFullSeconds()
      , 10)
  }

//- 固定設定
meta(http-equiv='content-language' content='ja')
meta(http-equiv='content-type' content='text/html; charset=UTF-8')
meta(http-equiv='content-style-type' content='text/css; charset=UTF-8')
meta(http-equiv='content-script-type' content='text/javascript; charset=UTF-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name='robots' content='index,follow,noodp')
meta(name='viewport' content='width=device-width')

//- ページ情報
if app_id
  meta(property='og:app_id' content=app_id)
if site_name
  meta(property='og:site_name' content=site_name)

if page.page_type
  meta(property='og:type' content=page.page_type)
if page.description
  meta(property='og:description' content=page.description)
if page.title
  meta(property='og:title' content=page.title)
if page.og_image
  meta(property='og:image' content=HOST_NAME + IMAGE_DIR + page.og_image+'?'+now.getFullTimes())
meta(property='og:url' content=page.canonical)

meta(name='description' content=page.description)
if page.keywords
  meta(name='keywords' content=page.keywords)
title= page.title

link(rel='canonical' href=page.canonical)


//- StyleSheet
//- link(href=CSS_DIR + 'common.css' rel='stylesheet' type='text/css')
block css


//- アナリティクスコード
//- +ga('UA-89443373-1')
