.
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta charset="utf-8">
  <title>!{page.title}</title>
  <meta name="description" content="!{page.description}">
  <link rel="canonical" href="!{page.canonical}">

  <!-- Open Graph Protocol -->
  <meta property="og:url" content="!{page.canonical}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="!{page.title}" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="!{page.description}" />
  <meta property="fb:app_id" content="217808831589866" />
  <!-- //Open Graph Protocol -->

  <!-- twittercard -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="!{page.title}" />
  <meta name="twitter:description" content="!{page.description}" />
  <meta name="twitter:url" content="!{page.canonical}" />
  <meta name="twitter:site" content="@BAYCREWS" />
  <meta name="twitter:image" content="" />
  <!-- //twittercard -->


  <script src="https://baycrews.jp//assets/js/lib/jquery-2.2.0.min.js?v=20191107014349"></script>
  <script src="https://baycrews.jp//assets/js/jquery.cookie.js?v=20191107014349"></script>
  <script src="https://baycrews.jp//assets/js/bc_front_common.js?v=20191107014349" charset="utf-8"></script>

//- .
  <script src="https://baycrews.jp//assets/js/load_personalized.js?v=20191107014349" charset="utf-8"></script>
